{% extends 'base.html' %}

{% block content %}
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Tela Inicial</h1>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-6 col-6">

                    <div class="small-box bg-success">
                        <div class="inner">
                            <h3>{{ qtd_leite_descarregado|default_if_none:'' }} <sup style="font-size: 20px">L</sup></h3>
                            <p>Total de leite descarregado hoje</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-stats-bars"></i>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-6">

                    <div class="small-box bg-info">
                        <div class="inner">
                            <h3>{{ total_veiculos_aguardando|default_if_none:'' }}</h3>
                            <p>Total de veículos aguardando</p>
                        </div>
                        <div class="icon">
                            <i class="ion ion-bag"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="card">
                <div class="card-header">
                    <div class="d-flex justify-content-between align-items-center">
                        <a href="{% url 'cadastrar_descarregamento' %}" class="btn btn-success">Cadastrar</a>
                        <div class="col-sm-3">
                            <div class="input-group">
                                <input type="text" class="form-control"
                                       placeholder="Pesquisar..."
                                        id="filtro" name="filtro"
                                        value="{{ filtro|default_if_none:'' }}">
                                <div class="input-group-append">
                                    <button class="btn btn-default" type="button" id="button_pesquisa">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card-body table-responsive p-0">
                    <table class="table table-hover text-nowrap table-bordered table-striped">
                        <thead>
                        <tr>
                            <th>Ações</th>
                            <th>Empresa</th>
                            <th>Nota Fiscal</th>
                            <th>Placa</th>
                            <th>Situação</th>                            
                        </tr>
                        </thead>
                        <tbody>
                        {% if registros|length <= 0 %}
                            <tr>
                                <td colspan="6" class="text-center">Nenhum registro encontrado</td>
                            </tr>
                        {% else %}
                            {% for descarregamento in registros %}
                                <tr>
                                    <td>
                                        <a href="{% url 'editar_descarregamento' descarregamento.descarregamento_id %}"
                                           class="btn btn-primary btn-sm">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        <button class="btn btn-danger btn-sm ml-2"
                                                onclick="excluirRegistro({{ descarregamento.descarregamento_id }}, 'descarregamento', 'descarregamento/excluir')"
                                        >
                                            <i class="fas fa-trash"></i>
                                        </button>
                                    </td>
                                    <td>{{ descarregamento.empresa_id.nome|default_if_none:'' }}</td>
                                    <td>{{ descarregamento.nota_fiscal|default_if_none:'' }}</td>
                                    <td>{{ descarregamento.placa|default_if_none:'' }}</td>
                                    <td>
                                        {% if descarregamento.situacao == 'C' %}
                                            Coletado
                                        {% elif descarregamento.situacao == 'E' %}
                                            Estabilizado
                                        {% elif descarregamento.situacao == 'D' %}
                                            Descarregando
                                        {% elif descarregamento.situacao == 'F' %}
                                            Finalizado
                                        {% endif %}
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
                {% include 'partials/paginacao.html' %}
            </div>
        </div>
    </div>

{% include 'partials/_modal_excluir.html' %}

{% endblock  %}

{% block script %}
    <script>
        $('#button_pesquisa').click(function (e) {
            let filtro = $('#filtro').val();
            window.location.href = "{% url 'index_descarregamento' %}?filtro=" + filtro;
        });
    </script>
{% endblock %}