{% load static %}
<aside class="main-sidebar sidebar-dark-primary elevation-4" id="menu_lateral">
    <a href="{% url 'index_descarregamento' %}" class="brand-link d-flex justify-content-center">
        <img src="{% static 'img/logo-transparent.png' %}" alt="" style="max-width: 300px; max-height: 50px;">
    </a>
    <div class="sidebar os-host os-theme-light os-host-overflow os-host-overflow-y os-host-resize-disabled os-host-scrollbar-horizontal-hidden os-host-transition">
        <div class="os-resize-observer-host observed">
            <div class="os-resize-observer" style="left: 0px; right: auto;"></div>
        </div>
        <div class="os-size-auto-observer observed" style="height: calc(100% + 1px); float: left;">
            <div class="os-resize-observer"></div>
        </div>

        <div class="os-padding">
            <div class="os-viewport os-viewport-native-scrollbars-invisible">
                <div class="os-content" style="padding: 0px 8px; height: 100%; width: 100%;">
                    <div class="form-inline pt-2">
                        <div class="input-group" data-widget="sidebar-search">
                            <input class="form-control form-control-sidebar" type="search" placeholder="Pesquisar..."
                                   aria-label="Pesquisar"/>
                            <div class="input-group-append">
                                <button class="btn btn-sidebar"><i class="fas fa-search fa-fw"></i></button>
                            </div>
                        </div>
                        <div class="sidebar-search-results">
                            <div class="list-group">
                                <a href="#" class="list-group-item">
                                    <div class="search-title">
                                        <strong class="text-light"></strong>N<strong
                                            class="text-light"></strong>o<strong class="text-light"></strong> <strong
                                            class="text-light"></strong>e<strong class="text-light"></strong>l<strong
                                            class="text-light"></strong>e<strong class="text-light"></strong>m<strong
                                            class="text-light"></strong>e<strong class="text-light"></strong>n<strong
                                            class="text-light"></strong>t<strong class="text-light"></strong> <strong
                                            class="text-light"></strong>f<strong class="text-light"></strong>o<strong
                                            class="text-light"></strong>u<strong class="text-light"></strong>n<strong
                                            class="text-light"></strong>d<strong class="text-light"></strong>!<strong
                                            class="text-light"></strong>
                                    </div>
                                    <div class="search-path"></div>
                                </a>
                            </div>
                        </div>
                    </div>

                    <nav class="mt-2">
                        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu"
                            data-accordion="false">
                            <li class="nav-item">
                                <a href="{% url 'index_descarregamento' %}" class="nav-link">
                                    <i class="fas fa-home nav-icon"></i>
                                    <p>Tela Inicial</p>
                                </a>
                            </li>
                            <li class="nav-item">
                                <a href="#" class="nav-link">
                                    <i class="nav-icon fas fa-pen-square nav-icon"></i>
                                    <p>
                                        Cadastros
                                        <i class="right fas fa-angle-left"></i>
                                    </p>
                                </a>
                                <ul class="nav nav-treeview">
                                    <li class="nav-item">
                                        <a href="{% url 'index_empresa' %}" class="nav-link">
                                            <i class="far fa-building nav-icon"></i>
                                            <p>Empresas</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'index_operador' %}" class="nav-link">
                                            <i class="far fa-user nav-icon"></i>
                                            <p>Operadores</p>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="{% url 'index_silo' %}" class="nav-link">
                                            <i class="fa fa-archive nav-icon"></i>
                                            <p>Silos</p>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item">
                                <a href="{% url 'tela_filtros_relatorio' %}" class="nav-link">
                                    <i class="fas fa-book-open nav-icon"></i>
                                    <p>Relatórios</p>
                                </a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-horizontal os-scrollbar-unusable os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="width: 100%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar os-scrollbar-vertical os-scrollbar-auto-hidden">
            <div class="os-scrollbar-track">
                <div class="os-scrollbar-handle" style="height: 37.2333%; transform: translate(0px, 0px);"></div>
            </div>
        </div>
        <div class="os-scrollbar-corner"></div>
    </div>
</aside>

{% comment %}
    <div id="sidebar-overlay"></div> {% endcomment %}
